<!-- ChatController as chat -->
<aside class="chat">

	<div class="messages-wrap" scroll-glue>
		<ul id="messages">
			<li ng-repeat="message in chat.messages track by $index">
				<div class="avatar" style="background: url({{message.avatar}})"></div>
				<span class="name">{{ message.name }}: </span>
				<span class="message">{{ message.msg }}</span>
			</li>
		</ul>
	</div>

	<!-- enter optional name -->
	<div ng-controller= "EnterNameController as enterName" ng-show="enterName.show">
		<h4>Enter name or use default name</h4>
		<form ng-submit="enterName.enter()">
			<input ng-model="enterName.myName" type="text"/>
		</form>
		<button ng-click="enterName.turnOffThisView()">Use default name.</button>
	</div>
	<!-- end enter optional name -->

	<form ng-submit="chat.sendMessage()">
		<input ng-model="chat.msg" type="text" autocomplete="off" autofocus/>
	</form>

</aside>
