<!-- ChatController as chat -->
<aside class="chat">

	<div class="messages-wrap" scroll-glue>
		<ul id="messages">
			<li ng-repeat="message in chat.messages track by $index">
				<span class="avatar" ng-include='message.avatar'></span>
				<span class="user-name"> [{{ message.name }}]</span>
				<span class="message">{{ message.msg }}</span>
			</li>
		</ul>
	</div>


	<!-- enter optional name -->
	<!-- <div ng-controller= "EnterNameController as enterName" ng-show="enterName.show">
		<h4>Enter name or use default name</h4>
		<div ng-show="nameForm.name.$error.maxlength || nameForm.name.$error.minlength ">
			Name must be 2 to 20 characters long, asshole.
		</div>

		<form name="nameForm" ng-submit="nameForm.$valid && enterName.enter()">
			<input name="name" ng-model="enterName.myName" type="text" ng-maxlength="20" ng-minlength="2" required/>
		</form>
		<button class="defaultName" ng-click="enterName.turnOffThisView()">Use default name.</button>
	</div> -->
	<!-- end enter optional name -->

	<form name="chatForm" ng-submit="chatForm.$valid && chat.sendMessage()">
		<div ng-show="chatForm.message.$error.maxlength">Message too long yo, keep it to 256 characters.</div>
		<div>
		<input name="message" ng-model="chat.msg" type="text" autocomplete="off" ng-maxlength="256" required autofocus/>
		<button class="send">Send</button></div>
	</form>

</aside>
