<!-- ChatController as chat -->
<div class="link">
	<input type="text" ng-model="joinUrl" onClick="this.select()" readonly>
</div>

<div class="chat">
	<div class="messages-wrap" scroll-glue>
		<ul id="messages">
			<li ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="message in chat.messages track by $index">
				<span class="user-name"> {{ message.name }}:</span>
				<span class="message">{{ message.msg }}</span>
			</li>
		</ul>
	</div>

	<form class="chat-input" name="chatForm" ng-submit="chatForm.$valid && chat.sendMessage()">
		<div ng-show="chatForm.message.$error.maxlength">Message too long yo, keep it to 256 characters.</div>
		<input name="message" ng-model="chat.msg" type="text" autocomplete="off" ng-maxlength="256" required autofocus/>
	</form>
</div>