<!-- HomeController as home -->
<section class="home">
	<div class="home-logo">
		<h1>Shards of Profanity</h1>
	</div>
	<div class="home-button-wrap">
		<modal-button class="white" data-ctrl="joinGame">
			Join Game.
		</modal-button>
		<modal-button class="black" data-ctrl="createGame">
			Create Game.
		</modal-button>
	</div>
	<footer class="home-footer">
		<ul class="home-footer-list">
			<li><a href="#about">about</a></li>
			<li><a href="#contact">contact</a></li>
			<li><a href="#rules">rules</a></li>
			<li><a href="#license">license</a></li>
		</ul>
	</footer>
</section>


<div id="about" class="modal">
	<div class="modal-content">
		<a href="#close" title="Close" class="close"></a>
		<h4>The site.</h4>
		<p>Shards of Profanity is a browser-based Cards Against Humanity clone by a team of noob undergraduate developers.</p>
		<hr>
		<h4>The tech.</h4>
		<p>The webapp is built upon the M.E.A.N. stack (MongoDB, Express, Angular.js, Node.js) and utilizes Socket.IO for the realtime client-server communication.</p>
		<p>https://github.com/cardstone/shards-of-profanity</p>
		<hr>
		<h4>The nerds.</h4>
		<ul>
			<li>amaldarelli93 - Anthony Maldalrelli</li>
			<li>andrewmilo - Andrew Miloslavsky</li>
			<li>jessemcready - Jesse McReady</li>
			<li>azablan - Alvin Zablan</li>
		</ul>
	</div>
</div>

<div id="rules" class="modal">
	<div class="modal-content">
		<h4>Rules.</h4>
		<a href="#close" title="Close" class="close"></a>
		<hr>
		<p><b>There are 2 roles in Shards of Profanity - the player, and the Czar.</b></p>
		<p>The Czar is responsible for starting the round, as well as choosing the winner of the respective round.</p>
		<p>The player just selects the card they like the best.</p>
		<hr>
		<p><b>The Game</b></p>
		<p>1. When the round starts, a countdown starts and players must select their cards.</p>
		<p>2. When the round ends, the Czar chooses the winner.</p>
		<p><b>Loop.</b></p>
	</div>
</div>

<div id="contact" class="modal">
	<div class="modal-content">
		<h4>Contact us.</h4>
		<a href="#close" title="Close" class="close"></a>
		<p>Send us all of your hate mail:</p>
		<p>poopiebutthole@shardsofprofanity.com</p>
	</div>
</div>

<div id="license" class="modal">
	<div class="modal-content">
		<h4>License.</h4>
		<a href="#close" title="Close" class="close"></a>
		<p>"Cards Against Humanity is available under a Creative Commons BY-NC-SA 2.0 license. That means you can use, remix, and share the game for free, but you can’t sell it without our permission. Please do not steal our name or we will smash you." - https://cardsagainsthumanity.com/</p>
		<p>Special thanks to the Cards Against Humanity team for letting us share their amazing game on our site without smashing us.</p>

	</div>
</div>
