<!-- HomeController as home -->
<section class="home">
	<div class="home-logo">
		<h1>Shards of Profanity</h1>
	</div>
	<div class="home-button-wrap">
		<modal-button class="white" data-ctrl="joinGame">
			Join Game.
		</modal-button>
		<modal-button class="black" data-ctrl="createGame">
			Create Game.
		</modal-button>
	</div>
	<footer class="home-footer">
		<ul class="home-footer-list">
			<li><a href="#rules">rules</a></li>
			<li><a href="#about">about</a></li>
			<li><a href="#contact">contact</a></li>
			<li><a href="#license">license</a></li>
		</ul>
	</footer>
</section>


<div id="about" class="modal">
	<div class="modal-content">
		<a href="#close" title="Close" class="close"></a>
		<h4>The site.</h4>
		<p>Shards of Profanity is a browser-based Cards Against Humanity clone by a team of noob undergraduate developers.</p>
		<hr>
		<h4>The tech.</h4>
		<p>The webapp is built upon the M.E.A.N. stack (MongoDB, Express, Angular.js, Node.js) and utilizes Socket.IO for the realtime client-server communication.</p>
		<p>https://github.com/cardstone/shards-of-profanity</p>
		<hr>
		<h4>The nerds.</h4>
		<ul>
			<li>amaldarelli93 - Anthony Maldalrelli</li>
			<li>andrewmilo - Andrew Miloslavsky</li>
			<li>jessemcready - Jesse McReady</li>
			<li>azablan - Alvin Zablan</li>
		</ul>
	</div>
</div>

<div id="rules" class="modal">
	<div class="modal-content">
		<h4>The roles.</h4>
		<a href="#close" title="Close" class="close"></a>
		<p>Players can take one of two roles in Shards of Profanity, average shmucks and the almighty Card-Czar (&#9812). Players take turns being the Czar every round. <p>
		<hr>
		<h4>The rules.</h4>
		<p>A new black card is revealed each round. Players submit white card(s) from their hand to complete the statement on the black card. The Card-Czar bestows a point upon the player with the funniest submission. Lulz will be had. Happy Shards of Profanity, may the cards be ever in your favor.<p>

	</div>
</div>

<div id="contact" class="modal">
	<div class="modal-content">
		<h4>Contact us.</h4>
		<a href="#close" title="Close" class="close"></a>
		<p>Send us all of your hate mail:</p>
		<p>poopiebutthole@shardsofprofanity.com</p>
	</div>
</div>

<div id="license" class="modal">
	<div class="modal-content">
		<h4>License.</h4>
		<a href="#close" title="Close" class="close"></a>
		<p>"Cards Against Humanity is available under a Creative Commons BY-NC-SA 2.0 license. That means you can use, remix, and share the game for free, but you can’t sell it without our permission. Please do not steal our name or we will smash you." - https://cardsagainsthumanity.com/</p>
		<p>Special thanks to the Cards Against Humanity team for letting us share their amazing game on our site without smashing us.</p>

	</div>
</div>
