<div class="rules-wrap" ng-controller="RulesController">
	<div class = "rules">
		<div> 
			<div class="terminology-header"> 
				Terminology
			</div>
			<p class="terminology">
				Czar: This power can be bestowed on 1 player in a game or round. 
				They will have to power to start rounds, as well as choose the victor of those respective rounds.
			</p>
		</div>
		</br>
		<div class="toplay-header">Playing</div>
		<div class="toplay">
			1. The Czar starts the round.
			</br>
			2. A black card appears on the screen.
			</br>
			3. Non-Czars select a white card from their hand that they find the funniest.
			</br>
			4. Once time is up, the Czar picks the funniest card.

		</div>
	</div>
</div>
