<!-- PlayController as play -->
<span class="play">
	<p ng-show="czar">I am the czar.</p>
	<p>Round over in {{ submitCountdown }} seconds!<p>
	<div>
		<li>
			<span ng-repeat="card in black track by $index">
				<black-card>
				</black-card>
			</span>
		</li>
		<li>
			<span ng-repeat="submission in submissions track by $index">
				<white-card ng-init="card=submission.card" ng-click="czar && play.selectWinner($index)">
				</white-card>
			</span>
		</li>
	<div>
	<div class="hand">
		<h4>Hand</h4>
		<li>
			<span ng-repeat="card in hand track by $index" ng-init="faceUp=true">
				<white-card ng-click="submitEnabled && play.selectCard($index)">
				</white-card>
			</span>
		</li>
	</div>
	<button ng-show="host" ng-click="play.startRound()">Start Game.</button>
</span>
