<!-- PlayController as play -->
<span class="play">
	<div ng-show="czar">I am the czar.</div>
	<div>
		<li>
			<span ng-repeat="card in black track by $index">
				<black-card></black-card>
			</span>
		</li>
		<li>
			<span ng-repeat="card in selectedCards track by $index">
				<white-card></white-card>
			</span>
		</li>
	<div>
	<div class="hand">
		<h4>Hand</h4>
		<li>
			<span ng-repeat="card in hand track by $index">
				<white-card ng-click="enabled && play.selectCard($index)"></white-card>
			</span>
		</li>
	</div>
	<button ng-click="play.startRound()">Start Round</button>
</span>
