.front,
.back
  height: 160px
  width: 115px
  border: $base-border
  border-radius: $base-border-radius
  font-weight: bold
  padding: 5px
  position: relative
  background-color: inherit

.front
  font-size: 14px
  .pack
    position: absolute
    bottom: 0px

.back
  font-size: 22px

white-card
  background-color: white
  color: black

black-card
  background-color: black
  color: white
