.modal-container
  position: fixed
  background-color: white
  left: 50%
  transform: translate(-50%, -200%)
  padding: 20px
  border-radius: $base-border-radius
  width: 70%
  max-width: 400px
  transition: transform 200ms ease-out
  z-index: 1000

  p, a, h1
    color: black

.modal:before
  content: ''
  position: fixed
  display: none
  background-color: rgba(0,0,0,.8)
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 1000

.modal:target .modal-container
  top: 20%
  transform: translate(-50%, 0)

.modal:target:before
  display: block
