// base styles for .modalButton
.modalButton
	height: 10rem
	width: 7.1875rem
	padding: 1rem
	display: inline-block
	position: relative

	border: 2px solid black
	border-radius: $base-border-radius

	font-size: 1.5rem
	line-height: 1.0em
	font-weight: bold

	transition: 150ms ease-in-out

	// overlay target to click and expanded
	.toggle
		height: 100%
		width: 100%
		position: fixed
		top: 0
		right: 0

		cursor: pointer

	// positioning left and right buttons
	&:nth-child(1)
		transform: translateX(10px) rotate(-15deg)
		z-index: 1

	&:nth-child(2)
		transform: translateX(-10px) rotate(15deg)
		z-index: 0

	&:hover
		z-index: 1
		transform: scale(1.5)


	// // // // // // // // // // // // // //
	// styles for when button is expanded
	// // // // // // // // // // // // // //
	&.expanded
		height: 70vh
		width: 90vw
		max-width: 600px
		position: fixed
		top: 15vh
		left: calc((100vw - 600px)/2)

		z-index: 1
		cursor: default
		transform: rotate(0deg)

		h4
			text-decoration: underline

		// close button
		.toggle
			height: 25px
			width: 25px
			position: absolute
			top: 1rem
			right: 1rem

			// makes the 'X'
			&:before,
			&:after
				content: ''
				height: 25px
				width: 4px
				position: absolute
				right: 10px

				background-color: currentColor

			&:before
				transform: rotate(45deg)

			&:after
				transform: rotate(-45deg)

		// media query for expanded modal position
		@media screen and (max-width: 660px)
			left: 5vw
		@media screen and (max-height: 570px)
			top: 4vh
