.modal
	+position(fixed, 0 0 0 0)
	background: rgba(0,0,0,0.8)
	z-index: 100
	opacity: 0
	transition: opacity 300ms ease-in
	pointer-events: none

.modal-content
	width: 60%
	position: relative
	margin: 10% auto
	padding: 30px
	border-radius: 10px
	background: #fff
	color: black

.modal:target
  opacity: 1
  pointer-events: auto

.modalShow
  opacity: 1
  pointer-events: auto

.close
	position: absolute
	top: 10px
	right: 10px
	height: 25px
	width: 25px
	// makes the 'X'
	&:before,
	&:after
		content: ''
		height: 25px
		width: 4px
		position: absolute
		right: 10px

		background-color: black

	&:before
		transform: rotate(45deg)

	&:after
		transform: rotate(-45deg)
