.chat

  // padding: 10px

  overflow-x: scroll
  position: fixed
  right: 0
  top: 52px
  height: 100%
  width: 350px
  background-color: $secondary-background-color

  form
    padding: 3px
    position: fixed
    bottom: 0
    width: 500px

    input
      display: inline
      width: 350px
      margin-right: .5%
