.chat
  border: 5px solid $action-color
  border-radius: 30px
  padding: 10px
  height: 440px
  width:500px
  float: right
  overflow: scroll
  background-color: $secondary-background-color

  form
    padding: 3px
    position: fixed
    bottom: 0
    width: 500px

    input
      display: inline
      width: 350px
      margin-right: .5%
