.chat
  display: flex
  flex-direction: column
  position: absolute
  height: 80%
  bottom: 0
  border-style: solid
  border-left-color: #232323
  border-top: none
  font-family: "Times New Roman", Times, serif

  .messages-wrap
    overflow: auto
    height: 100%

  .messages-wrap li
    word-wrap: break-word
    margin-bottom: 10px

  form
    padding: 3px
    position: relative
    bottom: 0
    width: 100%
