.createGame
	padding-left: 20px
	padding-right: 20px
	.allContent
		padding-left: 10px
		padding-right: 10px
		margin-top: 15px
	.border
		width: 100%
		margin-top: 15px
		border: 1px solid #fff
	label
		display: inline
	input
		display: inline
		padding: 0
		text-align: center
		color: black
		cursor: pointer
		background-color: black
	input[type=range]
		cursor: grab
	button
		margin-top: 15px
		//position: absolute
		//bottom: 30px
		align: center
		text-decoration: underline
		width: 100%
		color: black
		background-color: white
		&:hover
			color: white
			background-color: black
			border-color: white
	.gameName
		background-color: white
		cursor: text
	.privacy
		padding-bottom: 10px
		width: auto
		display: flex
		justify-content: center
		input
			display: inline
			width: 50px
