.createGame

	label
		display: inline
	input
		display: inline
		width: 300px
		padding: 0
		border: none
		border-radius: 0
		border-bottom: thick solid white
		text-align: center
		color: white
		background-color: transparent
	select
		display: inline
		border: none
		border-radius: 0
		border-bottom: thick solid white
		color: white
		background-color: transparent
	button
		position: absolute
		bottom: 30px
