.createGame
	padding-left: 20pxpx
	padding-right: 20px
	label
		display: inline
	input
		display: inline
		padding: 0
		text-align: center
		color: black
		cursor: pointer
		background-color: black
	button
		position: absolute
		bottom: 45px
		align: center
		width: 45%
		color: black
		background-color: white
		&:hover
			color: white
			background-color: black
			border-color: white
	.gameName
		background-color: white
	.privacy
		input
			display: inline
			width: 50px


