.gameView
	display: flex
	flex-direction: column
	height: 92vh

	@include desktop
		flex-direction: row

	// & > *
	// 	border: 2px solid yellow

	.info
		display: flex
		justify-content: space-between

		@include desktop
			flex-direction: column
			flex-basis: 200px
