.gameView
	display: flex
	flex-direction: column
	height: 92vh

	@media (min-width: 660px)
		flex-direction: row

	& > *
		border: 2px solid yellow

	.info
		display: flex
		justify-content: space-between

		@media (min-width: 660px)
			flex-direction: column
			flex-basis: 200px
