// for overall layout of the game view

// small screen layout
.gameView
	display: flex
	flex-direction: column
	background: lighten($light-black, .03)
	height: 92vh

.info
	display: flex
	justify-content: space-between

	margin: 7px
	margin-right: 0px
	border-radius: 14px

.play
	display: flex
	flex-grow: 1
	flex-direction: column
	justify-content: space-around

.communication
	display: none



// big screen layout
@include desktop

	.gameView
		flex-direction: row

	.info
		flex-direction: column
		width: 20%

	.play
		width: 60%

	.communication
		display: flex
		flex-direction: column
		width: 20%

		margin: 7px 7px 7px 0
		border-radius: 14px
		justify-content: space-between
