header
  background-color: $light-black
  padding: 7px
  color: white

  a
    color: white

  figure,
  h3, p,
  nav, li
    display: inline

  .poo svg
    +size(30px)
    //+color-shift("color")

    #top
      fill: pink

    #bottom
      fill: cyan
