.home-view
	display: relative
	height: 100%
	width: 100%
	top: 0
	background: fade-out($light-black, .03)
	color: white
	display: flex
	flex-direction: column
	align-items: center
	// justify-content: center

	.header
		position: absolute
		left: 0
		top: 0
		display: flex
		flex-direction: column
		align-items: center
		background-color: transparent
		width: 100%


	.main
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: transparent
		.home-logo
			height: auto
			color: white
		.button-wrap
			display: flex
			justify-content: center
			margin-top: 80px

	.footer
		display: flex
		flex-direction: column
		align-items: center
		position: absolute
		left: 0
		bottom: 0
		background-color: black
		width: 100%
		.footer-buttons
			display: flex
			div
				color: grey
				padding-top: 10px
				padding-left: 20px
				paddint-right: 20px
				a
					color: white


.button-wrap
	display: flex
	justify-content: center
	margin-top: 80px


	


