.home-view
	min-height: 100%
	background: lighten($light-black, .03)
	color: white
	display: flex
	flex-direction: column
	align-items: center

.home-logo
	padding: 1rem 1.8rem 5rem
	color: white
	text-align: center

.button-wrap
	display: flex
	justify-content: center
	margin-top: -70px

.adhere
	position: absolute
	left: 350px
	opacity: .2
	margin-top: 100px

.fuck-xyzzy
	position: absolute
	left: 150px
	top: 200px
	opacity: .2

.footer
	margin-top: 55px

	li
		padding-top: 5px

	margin-bottom: 20px
	padding-bottom: 50px

.footer2
	position: relative
	background-color: fade-out($light-black, .03)
	color: white
	clear:both
	margin-top: -36px
	text-align: center
	font-size: 75%

.fb-like

.links
	text-align: center

	li
		display: inline

.b1
	width: 300px
	height: 65px
	color: #B8B8B8
	background-color: fade-out($light-black, .03)
