.nav
	display: flex
	justify-content: space-between
	align-items: baseline

	height: 8vh
	padding: 7px

	background-color: $light-black

	p, li, a
		display: inline
		color: white
		font-weight: bold

	li
		display: inline
		width: 100px
		padding-left: 35px
		color: white
		font-weight: bold

	p
		font-size: 1.5rem

	.poo svg
		+size(1.5rem)
		color: white
