.nav
	display: flex
	flex-wrap: nowrap
	white-space: nowrap
	align-items: baseline
	min-height: 50px
	height: 8vh
	width: 100%
	list-style: none
	flex-shrink: 0
	padding: 7px
	background-color: $light-black

	p, li, a
		display: inline
		color: white
		font-weight: bold
		margin-left: 10px

	li

		width: 100px
		padding-left: 4px
		color: white
		font-weight: bold

		@include desktop
			padding-left: 48px

	p
		font-size: 1.5rem

	.poo svg
		+size(1.5rem)
		color: white

@media (max-width: 585px)
	.nav-links li:nth-child(4)
		display: none

@media (max-width: 480px)
	.nav-links li:nth-child(3)
		display: none

@media (max-width: 425px)
	.logo-text
		// i know i shouldnt use !important, and i know why, and i know how to fix this but im too lazy
		display: none !important
	.nav-links li:nth-child(3),
	.nav-links li:nth-child(4)
		display: inline

@media (max-width: 350px)
	.nav-links li:nth-child(4)
		display: none
