.play

	background: white
	padding: 12px
	justify-content: space-around

	@include desktop
		margin: 0 $section-spacing
		padding: 36px 24px

	&--start
		width: 200px
		height: 50px
		margin: auto

	&--board
		display: flex

	&--blackWhite
		width: 100%
		display: flex
		padding: 4px
		border-radius: 10px

	&--black
		display: flex
		align-content: space-between
		padding: 4px
		border-radius: 10px
		margin-right: 1.2rem

	&--submissions
		display: flex
		justify-content: space-around
		flex-grow: 1
		overflow-x: auto
		margin-left: 1.2rem
		padding: 4px
		border-radius: 10px

		&--card
			margin-right: 2px

	&--hand
		display: flex
		position: relative
		margin: 0 0 0 0
		overflow-x: auto
		overflow-y: hidden
		height: 13rem
		padding: 4px
		border-radius: 10px

		&--card
			position: relative
			bottom: -1rem
			margin-left: -2.25rem
			transition: $base-duration $base-timing

			&:hover
			  z-index: 10
			  transform: translateY(-1rem)

		:nth-child(1)
			margin-left: 0

// if there are 5 or more submissions
.play--submissions--card:nth-last-child(n+5),
.play--submissions--card:nth-last-child(n+5) ~ .play--submissions--card
	margin-right: -2.25rem

.vRule
	height: 100%
	border-left: 2px solid black

.card-group
	li
		margin-top: -95%

	:nth-child(1)
		margin-top: auto

.highlight
	box-shadow: 0 0 0 0 rgba(69, 69, 69, 0.9)
	background-size: cover
	background-repeat: no-repeat
	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)

	@keyframes pulse
		to
			box-shadow: 0 0 0 10px rgba(69, 69, 69, 0.2)

.blackHighlight
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.9)
	background-size: cover
	background-repeat: no-repeat
	animation: blackPulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)

	@keyframes blackPulse
		to
			box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.75)
