.play

	background: white
	padding: 12px

	@include desktop
		margin: 0 $section-spacing

	&--start
		width: 200px
		height: 50px
		margin: auto
		border: none

	&--board
		display: flex

	&--black
		display: flex
		align-content: space-between
		border: 2px solid white
		padding: 4px
		border-radius: 10px

	&--submissions
		display: flex
		align-content: space-between
		overflow-x: auto
		margin-left: 1rem
		border: 2px solid white
		padding: 4px
		border-radius: 10px

		&--card
			margin-left: 2px
			margin-right: 2px


	&--hand
		display: flex
		position: relative
		overflow-x: auto
		overflow-y: hidden
		height: 13rem
		border: 2px solid transparent
		padding: 4px
		border-radius: 18px

		&--card
			position: relative
			bottom: -1rem
			margin-left: -2.25rem
			transition: $base-duration $base-timing

			&:hover
		    z-index: 10
		    transform: translateY(-1rem)

		:nth-child(1)
			margin-left: 0

.card-group
	li
		margin-top: -95%

	:nth-child(1)
		margin-top: auto


.highlight
	box-shadow: 0 0 0 0 rgba(69, 69, 69, 0.9)
	background-size: cover
	background-repeat: no-repeat
	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)

	@keyframes pulse
		to
			box-shadow: 0 0 0 10px rgba(69, 69, 69, 0.2)
