.play
	display: flex
	flex-direction: column
	position: absolute
	bottom: 0
	left: 0
	right: 350px
	height: 100%
	background-color: gray

	.submissions
		.group
			float:left
			margin-left: 5px
			margin-right 5px
			&:hover
				.card
					z-index: 10
					transform: translateY(-33%)


	.hand
		position: absolute
		bottom: 0

		li
			position: relative
			left: 70px

			.card
				margin-left: -62px
				&:hover
    				z-index: 10
    				transform: scale(1.25) translateY(-33%)
