.scoreboard
	background: white
	padding: 5px
	overflow-y: auto

	width: 100%
	border-radius: 5px 5px 0 5px

	max-height: 180px
	min-width: 280px
	
	@include desktop
		min-width: 0px
		max-height: none
		height: 46vh

		order: 2

		border-radius: 5px 0 5px 5px

	.scoreboard-player
		padding: 0px 8px 0px 8px
		display: flex
		justify-content: space-between
		border-bottom: solid
		border-color: black
