.scoreboard
	background: white
	padding: 5px
	overflow-y: auto

	width: 100%

	@include desktop
		height: 46vh
		order: 2

		border-bottom-left-radius: 5px
		border-bottom-right-radius: 5px

	.scoreboard-player
		padding: 0px 3px 0px 3px
		display: flex
		justify-content: space-between
		border-bottom: solid
		border-color: black
