.scoreboard
	flex-grow: 1
	background: white
	border-radius: 14px
	border: 2px solid #000
	padding: 5px
	overflow-y: auto
	min-height: 100px
	max-height: 120px
	
	@include desktop
		max-height: none
		height: auto
	@media (min-width: 660px)
		order: 2
	.scoreboard-player
		padding: 0px 3px 0px 3px
		display: flex
		justify-content: space-between 
		border-bottom: solid
		border-color: black
		