.timer
	flex-grow: .3
	background: white
	border-radius: 14px
	border: 2px solid #000
	padding: 5px
	text-align: center
	overflow-y: auto
	max-height: 100px

	@include desktop
		max-height: none
		height: 200px
		margin-bottom: 7px
	.time
		color: black
