.timer
	background: white
	padding: 5px
	text-align: center
	overflow-y: auto
	width: 100%
	border-radius: 0 5px 5px 0
	margin-left: $section-spacing


	@include desktop
		height: 45vh
		margin-bottom: 1vh
		border-radius: 5px 5px 0 0
	.time
		color: black
