.timer
	background: white
	padding: 5px
	text-align: center
	overflow-y: auto
	width: 100%
	border-radius: 0 5px 5px 0
	margin: 0 0 0 $section-spacing


	@include desktop
		height: 45vh
		margin: 0 0 1vh 0
		border-radius: 5px 5px 0 0
	.time
		color: black
