<div class="nav">

  <a class="logo" ui-sref="home">
    <i class="poo" ng-include="'./icons/poo.svg'"></i>
    <p>Shards of Profanity</p>
  </a>
  <nav>
		<ul>
      <li><a href="#share">share.</a></li>
      <li><a href="#rules">rules.</a></li>
      <li><a href="#tips">tips.</a></li>
      <li><a href="#feedback">feedback.</a></li>
		</ul>
  </nav>
</div>

<div id="rules" class="modal">
  <div class="modal-content">
    <h4>The roles.</h4>
    <a href="#close" title="Close" class="close"></a>
    <p>Players can take one of two roles in Shards of Profanity, average shmucks and the almighty Card-Czar (&#9812). Players take turns being the Czar every round. </p>
    <hr>
    <h4>The rules.</h4>
    <p>A new black card is revealed each round. Players submit white card(s) from their hand to complete the statement on the black card. The Card-Czar bestows a point upon the player with the funniest submission. Lulz will be had. Happy Shards of Profanity, may the cards be ever in your favor.</p>
  </div>
</div>

<div id="tips" class="modal">
  <div class="modal-content">
    <h4>Some tips.</h4>
    <a href="#close" title="Close" class="close"></a>
    <p> Sometimes the best cards are ones that you would never expect. </p>
    <p> Everyone has different a sense of humor.  If you know the card-czar personally, play cards you know he or she will find funny and/or offensive.</p>
    <p> Do not hold on to strong cards in an attempt to wait for the right black card. Play your good cards all the time you wimp. Only hold onto the super good cards sometimes.</p>
    <p> Sometimes the worst cards can spark a big laugh, so make sure to use the "bad cards" too.</p>
    <p> Grammar don't matter for nothing.</p>
    <p> This is just a card game, you try-hard. Be sure to have fun and laugh.</p>
  </div>
</div>

<div id="feedback" class="modal">
  <div class="modal-content">
    <h4>Have a question or feedback for the development team?</h4>
    <a href="#close" title="Close" class="close"></a>
    <p> Did you see something in game that made you annoyed or hinder your experience? Well, suck it up. Our creation is flawless.</p>
    <p> But, make sure to contact us so we can make Shards better.</p>
    <p> poopiebutthole@shardsofprofanity.com</p>
  </div>
</div>

<div id="share" class="modal">
  <div class="modal-content">
    <h4>Invite your friends and enemies through this.</h4>
    <a href="#close" title="Close" class="close"></a>
      <div class="link">
        <input type="text" ng-model="joinUrl" onClick="this.select()" readonly>
      </div>
  </div>
</div>
