<div class="nav">

  <a class="logo" ui-sref="home">
    <i class="poo" ng-include="'./icons/poo.svg'"></i>
    <p>Shards of Profanity</p>
  </a>
  <nav>
		<ul>
      <li><a href="#rules">rules.</a></li>
      <li><a href="#tips">tips.</a></li>
      <li><a href="#help">help.</a></li>
		</ul>
  </nav>
</div>

<div id="rules" class="modal">
  <div class="modal-content">
    <h4>The roles.</h4>
    <a href="#close" title="Close" class="close"></a>
    <p>Players can take one of two roles in Shards of Profanity, average shmucks and the almighty Card-Czar (&#9812). Players take turns being the Czar every round. </p>
    <hr>
    <h4>The rules.</h4>
    <p>A new black card is revealed each round. Players submit white card(s) from their hand to complete the statement on the black card. The Card-Czar bestows a point upon the player with the funniest submission. Lulz will be had. Happy Shards of Profanity, may the cards be ever in your favor.</p>
  </div>
</div>

<div id="tips" class="modal">
  <div class="modal-content">
    <h4>Some tips.</h4>
    <a href="#close" title="Close" class="close"></a>
    <p> Sometimes the best cards are ones that you would never expect. </p>
    <p> Everyone has different senses of humor.  If you know the card-czar, pick cards you know he or she will find funny.</p>
    <p> Do not hold on to good cards for the chance of question coming out for it.  Play your good cards all the time and only hold onto the super good cards sometimes.</p>
    <p> Sometimes the worst cards can spark a big laugh, so make sure to use the "bad cards" too!</p>
    <p> This is just a card game, so be sure to have fun and laugh!</p>
  </div>
</div>

<div id="help" class="modal">
  <div class="modal-content">
    <h4>Have a question for the creators or constructive feedback?</h4>
    <a href="#close" title="Close" class="close"></a>
    <p> Did you see something in game that made you annoyed or hinder your experience?</p>
    <p> Make sure to contact us so we can make Shards better!</p>
    <p> poopiebutthole@shardsofprofanity.com</p>
  </div>
</div>
