<div class="nav">

  <a class="logo" ui-sref="home">
    <i class="poo" ng-include="'./icons/poo.svg'"></i>
    <p>Shards of Profanity</p>
  </a>
  <nav>
		<ul>
      <li><a href="#rules">rules.</a></li>
      <li><a href="#tips">tips.</a></li>
		</ul>
  </nav>
</div>

<div id="rules" class="modal">
  <div class="modal-content">
    <h4>The roles.</h4>
    <a href="#close" title="Close" class="close"></a>
    <p>Players can take one of two roles in Shards of Profanity, average shmucks and the almighty Card-Czar (&#9812). Players take turns being the Czar every round. <p>
    <hr>
    <h4>The rules.</h4>
    <p>A new black card is revealed each round. Players submit white card(s) from their hand to complete the statement on the black card. The Card-Czar bestows a point upon the player with the funniest submission. Lulz will be had. Happy Shards of Profanity, may the cards be ever in your favor.<p>
  </div>
</div>

<div id="tips" class="modal">
  <div class="modal-content">
    <h4>Some tips.</h4>
    <a href="#close" title="Close" class="close"></a>
    <p> Welcome to lil' bits, eat some fucking shit, you fucking stupid bitch.
  </div>
</div>