html, body
  color: $base-font-color
  font-family: $base-font-family
  font-size: $base-font-size
  line-height: $base-line-height

h1, h2, h3,
h4, h5, h6
  font-family: $heading-font-family
  font-size: $base-font-size
  line-height: $heading-line-height
  margin: 0 0 $small-spacing

p
  margin: 0 0 $small-spacing

a
  text-decoration: none
  transition: color $base-duration $base-timing

  &:active,
  &:focus,
  &:hover
    color: shade($action-color, 25%)

sup
  position: relative
  top: -.5em
  font-size: 65%
  line-height: 0
  vertical-align: baseline

hr
  border-bottom: $base-border
  border-left: 0
  border-right: 0
  border-top: 0
  margin: $base-spacing 0

img,
picture
  margin: 0
  max-width: 100%

.gigantic
  font-size: 5rem
  line-height: 1.09
  letter-spacing: -2px

.huge, h1
  font-size: 68px
  font-size: 4rem
  line-height: 1.05
  letter-spacing: -1px

.large, h2
  font-size: 3rem
  line-height: 1.14

.bigger, h3
  font-size: 2rem
  line-height: 1.38
